{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css'%}">
<title>GrandKennel</title>
</head>

<body>
  <header>
    <div>
      <h1>GrandKennel . </h1>
      <p>Adestramento inteligente de cães que une</p>
      <p>eficiência e carinho.</p>
    </div>
  </header>
  <nav>
    <div id="divisaoicones">
       <div>
          <img src="Images/Coleira.png" alt="">
       </div>
       <div>
          <img src="Images/Comida.png" alt="">
       </div>
       <div>
         <img src="Images/Patinha.png" alt="">
       </div>
    </div>
  </nav>
  <section>
    <div id="caracteristicas">
      <div>
        <p>Coleiras individuais com identificação. Mais segurança para seu pet durante as aulas.</p>
      </div>
      <div>
        <p>Refeição balanceada com a nutrição que seu pet necessita.</p>
      </div>
      <div>
        <p>Ambiente 100% seguro e planejado para animais de pequeno à grande porte.</p>
      </div>
    </div>
  </section>
  <aside>
  <div id="feedback">
    <div>
      <h2>Feedback</h2>
    </div>
    <div class="p2">
      <p>"Tenho dois pastores alemães e o processo de adestramento dos dois foi incrível! Todos tratados com carinho e aprendendo em seu tempo."</p>
    </div>
    <div>
      <h3> - Luiza. </h3>
    </div>
  </div>
  </aside>
  <footer>
    <div>
      <p>Mais do nosso trabalho</p>
    </div>
    <div id="redessociais">
      <div>
        <img src="Images/instagram.png" alt="">
      </div>
      <div>
        <img src="Images/facebook.png" alt="">
      </div>
      <div>
        <img src="Images/youtube.png" alt="">
      </div>
    </div>
  </footer>
</body>
</html>